.theme {
    master-color: grey;
    -fx-background-color: derive(master-color, 70%);
}

.darkList {
    -fx-background-color: derive(master-color, -60%);
}

.darkList .list-cell {
    -fx-padding: 6 0 0 13;
    -fx-background-color: derive(master-color, -60%);
    -fx-text-fill: lightgrey;
}

.darkList .list-cell:focused {
    -fx-text-fill: white;
}

.table-view {
    -fx-border-width: 0;
    -fx-border-color: red;
}

.text-area, .text-field {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.text-area {
    -fx-padding: 2;
}

.text-field {
    -fx-padding: 3 6 3 6;
}
